{% load thumbnail %}
{% load  static %}

<div>
    <div class="row justify-content-start">
        {% for image in images %}
        {% thumbnail image.image "def" as im %}
        <div class="mb-2 mr-2">
            <div class="card card-color">
                <a data-fancybox="gallery" href="{{image.image.url}}">
                    <img class="img-fluid" src="{{im.url}}" alt="{{image.title}}">
                </a>
                <div class="row justify-content-between">
                    <a class="text-light" href="{{image.created}}">Created by {{image.created}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
